**/bin/
**/obj/
.vs/ProjectEvaluation/parlo.docker.metadata.v7.bin
.vs/ProjectEvaluation/parlo.docker.projects.v7.bin
.vs/Parlo.Docker/FileContentIndex/a5a14cd8-d991-45c8-8d41-74d5c41ae393.vsidx
*.v2
